.menu_user {
    position: absolute;
    right: 0.5%;
    top: 6.5%;
    padding: 10px;
    background-color: #2c333a;
    border: 1px #eeeeee solid;
    border-radius: 10px;
    z-index: 15;
}
.menu_user::before{
    content: '';
    background-color: #2c333a;
    border-left: 2px #eeeeee solid;
    border-top: 2px #eeeeee solid;
    width: 25px;
    height: 25px;
    position: absolute;
    right: 4%;
    top: -7%;
    border-radius: 5px 0 0 0;
    transform: rotate(45deg);

}
.ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items:stretch;
    gap: 5px;
    
}
.li,.last_li {
    padding: 15px;
    color: #eeeeee;
    font-size: large;
    text-align: center;
    z-index: 15;
    border-bottom: #eeeeee solid 2px;
}
.last_li{
    border-bottom: none;
    padding: 10px;
    margin: 5px;
}
.disconnect {
    background: none;
    border: none;
    
    color: #fd7014;
    font-size: large;
    cursor: pointer;
}

.last_li:hover {
    border-radius: 10px;
    background-color: #fd7014;
    color: #eeeeee;
}
.last_li:hover .disconnect {
    color: #eeeeee;
}