.inputDiv {
  width: 75%;
  margin: 0 12.5%;
  position: relative;
  top: 8%;
}
.input {
  background-color: #eeeeee;
  border: none;
  color: black;
  border-radius: 20px;
  height: 50px;
  width: 100%;
  padding: 0 15px;
  font-family: "Poppins", sans-serif;
  font-size: 1.5em;
}
.input:focus {
  border: solid 3px #fd7014;
  outline: none;
}
.send {
  display: flex;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 31px;
  right: 1%;
}
.alert {
  padding-top: 5px;
  color: #eeeeee;
  font-family: "Poppins", sans-serif;
  text-align: center;
}
