.side {
  background-color: #2c333a;
  height: 100dvh;
  display: flex;
  padding-top: 10px;
  flex-direction: column;
  align-items: center;
  z-index: 50;
  transition: width 0.2s ease-in-out;
}
.newDisc {
  background-color: #eeeeee;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  border-radius: 20px;
  font-size: 20px;
  display: flex;
  justify-content: left;
  gap: 15px;
  align-items: center;
  margin: 10px 0;
  padding: 15px;
  padding-left: 12px;
  width: 50px;
  cursor: pointer;
  z-index: 10;
  white-space: nowrap;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}
.collIconbutton {
  background: none;
  border: none;
  margin-left: 15px;
  align-self: flex-start;
  z-index: 10;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}
.about {
  margin-top: auto;
  margin-bottom: 18px;
  margin-left: 18px;
  align-self: flex-start;
}
.side[data-collapse="true"] {
  width: 4dvw;
}
.side[data-collapse="false"] {
  width: 24dvw;
}
.side[data-collapse="false"] .collIconbutton {
  transform: rotate(-90deg);
}
.side[data-collapse="false"] .newDisc {
  padding-left: 20px;
  width: 350px;
}
.side[data-collapse="false"] .newDisc:hover {
  background-color: #d3d1d1;
}
.sideContent {
  width: 150%;
  align-self: flex-start;
  margin-left: 5%;
  height: 83%;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
}
.Overflow_Wrapper {
  height: 100%;
  width: 61%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: visible;
  gap: 15px;
}
.sideContent::-webkit-scrollbar {
  display: none;
}
.label {
  position: sticky;
  top: 0;
  bottom: 0;
  background-color: #2c333a;
  padding: 25px 0;
  align-self: flex-start;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1.3em;
  color: #aeabab;
  margin-bottom: 5px;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  transition: width 0.2s ease-in-out;
}
.side[data-collapse="true"] .label {
  width: 0%;
}
.Historique,
.Archive {
  width: 100%;
  border-radius: 15px;
  display: flex;
  align-items: center;
  overflow: visible;
  padding: 10px;
  padding-bottom: 8px;
  transition: all 0.2s ease-in-out;
}
.flexbox {
  width: 100%;
  max-height: 6%;
}
.name {
  width: 90%;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: bold;
  font-size: 1.2em;
  color: #eeeeee;
}
.more {
  margin-left: auto;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1000;
}
.Historique:hover,
.Archive:hover {
  background-color: rgb(120, 118, 118);
}
