.main {
  background-color: rgba(34, 40, 49, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100dvh;
  width: 100dvw;
  margin: 0;
}
.text {
  width: 40%;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
  font-size: 2em;
}
.h1 {
  font-family: "Roboto Mono", monospace;
  font-size: 3em;
}
.mil {
  color: #eeeeee;
  height: 60%;
  width: 120%;
  text-align: center;
  background: rgba(57, 62, 70, 1);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2%;
  box-shadow: 20px 20px 20px rgba(57, 62, 70, 1),-20px -20px 20px rgba(57, 62, 70, 1);
}

.button1 {
  background-color: rgba(253, 112, 20, 1);
  border: none;
  color: #eeeeee;
  padding: 10px 20px;
  font-size: 1.5em;
  cursor: pointer;
  border-radius: 15px;
  width: 40%;
}

.button1:hover {
  background-color: #eeeeee;
  color: rgba(253, 112, 20, 1);
}

.button2 {
  background-color: #eeeeee;
  border: none;
  color: rgba(253, 112, 20, 1);
  padding: 10px 20px;
  font-size: 1.5em;
  cursor: pointer;
  border-radius: 15px;
  width: 40%;
}
.button2:hover {
  background-color: rgba(253, 112, 20, 1);
  color: #eeeeee;
}
.digitGroup {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 20px;
}

.digitInput {
  width: 40px;
  height: 40px;
  font-size: 24px;
  text-align: center;
  border: 3px solid #eeeeee;
  background-color: #55525c;
  color: #eeeeee;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s;
}
.digitInput:focus {
  border-color: rgba(253, 112, 20, 1);
}
