# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/

# Environment and build
.env
*.class
*.jar
*.war
*.ear

# IntelliJ
out/
*.ipr
*.iws

# Local development tools
.mvn/wrapper/maven-wrapper.properties

# JetBrains Rider
.idea/