.main {
  background-color: #222831;
  height: 100dvh;
  width: 100%;
  padding: 10px;
}
.page_layout {
  display: flex;
  justify-content: stretch;
  align-items: center;
  width: 100dvw;
  height: 100dvh;
}
