.container {
  position: absolute;
  overflow: hidden;
  height: 40px;
  border-radius: 0 0 20px 20px;
  top: -5%;
  display: flex;
  padding: 0 20px;
  justify-content: center;
  align-items: center;
  background-color: #eeeeee46;
  backdrop-filter: blur(10px);
  animation: popupAnimation 2.5s ease-in-out forwards;
}

@keyframes popupAnimation {
  0% {
    top: -5%;
  }
  20% {
    top: 0%;
  }
  80% {
    top: 0%;
  }
  100% {
    top: -5%;
  }
}
.content {
  color: #eeeeee;
  font-family: "Roboto", sans-serif;
  font-size: 1.2em;
}
