.main {
  height: 100dvh;
  width: 100dvw;
  text-align: center;
  background-color: rgba(34, 40, 49, 1);
}

.container {
  background-color: rgba(57, 62, 70, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 20px -20px 20px rgba(57, 62, 70, 1),
    -20px -20px 20px rgba(57, 62, 70, 1);
  width: 50%;
  margin: auto;
  height: 120%;
  padding: 50px;
}
.h1 {
  color: rgba(253, 112, 20, 1);
  font-size: 3em;
  margin-bottom: 3%;
  margin-top: 3%;
  font-family: "Roboto Mono", monospace;
}
.form {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input {
  height: 12%;
  background-color: #eeeeee;
  width: 90%;
  padding: 10px;
  border-radius: 8px;
  margin: 10px;
  border: 3px solid #eeeeee;
  font-size: 1.2em;
}
.input:focus {
  border-color: rgba(253, 112, 20, 1);
  outline-color: rgba(253, 112, 20, 1);
  box-shadow: 0 0 5px rgba(253, 112, 20, 1);
}
.button {
  width: 50%;
  padding: 15px 0;
  background-color: rgba(253, 112, 20, 1);
  color: #eeeeee;
  border: none;
  margin-top: 5%;
  border-radius: 15px;
  font-size: 1.5em;
  cursor: pointer;
}
.button:hover {
  background-color: #eeeeee;
  color: rgba(253, 112, 20, 1);
}
.p,
.error {
  margin: 10px 0;
  font-family: "Roboto", sans-serif;
  font-size: 1.2em;
  color: #eeeeee;
}
.login {
  cursor: pointer;
  color: rgba(253, 112, 20, 1);
  text-decoration: none;
  font-size: 1.2em;
  padding-left: 5px;
}
.label {
  align-self: flex-start;
  margin-left: 5%;
  color: #eeeeee;
  font-size: 1.3em;
  font-family: "Roboto", sans-serif;
  margin-top: 2%;
  margin-bottom: -2%;
}
.error {
  color: rgb(220, 47, 47);
  width: 80%;
}
